<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>pag Download</title>
   <link rel="stylesheet" href="/components/css/style.css">
</head>

<body>

   <header class="bar">
      <nav>
         <ul class="navgation">
            <li>
               <a href="../index.html">home</a>
            </li>
            <li>
               <a href="contact.html">contact</a>
            </li>
            <li>
               <a href="https://youtube.com/@vipffx?si=NsUCe_i4fcAAui9M" target="_blank">Canal Do Youtube</a>
            </li>
         </ul>
      </nav>
   </header>


   <section>
      <div>
         <div>
            <h1>Download</h1>
         </div>
      </div>
   </section>

</body>

</html>