<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desenvolvimento Web</title>
    <link rel="stylesheet" href="/components/css/style.css">
</head>
<body>
   
      <header class="bar">
      <nav>
         <ul class="navgation">
            <li>
               <a href="../index.html">home</a>
            </li>
            <li>
               <a href="contact.html">contact</a>
            </li>
            <li>
               <a href="https://youtube.com/@vipffx?si=NsUCe_i4fcAAui9M" target="_blank">Canal Do Youtube</a>
            </li>
         </ul>
      </nav>
   </header>

    <header class="title">
        <h1>Tutorial: Introdução ao HTML</h1>
    </header>

    <section>
        <p>Bem-vindo ao nosso tutorial de introdução ao HTML, a linguagem essencial para construir páginas web.</p>
    </section>

    <section class="content-for">
        <h2>Elementos Básicos</h2>
        <p>Os elementos HTML, como &lt;p&gt; para parágrafos e &lt;h1&gt; a &lt;h6&gt; para cabeçalhos, são fundamentais.</p>
    </section>

    <section>
        <h2>Criando Sua Primeira Página</h2>
        <p>Para começar, crie um arquivo com extensão .html e use um editor de texto simples. Adicione o seguinte código:</p>
        <code>&lt;!DOCTYPE html&gt;<br>&lt;html lang="pt-br"&gt;<br>&lt;head&gt;<br>&lt;meta charset="UTF-8"&gt;<br>&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;<br>&lt;title&gt;Minha Primeira Página&lt;/title&gt;<br>&lt;/head&gt;<br>&lt;body&gt;<br><br>&lt;h1&gt;Olá, Mundo!&lt;/h1&gt;<br><br>&lt;/body&gt;<br>&lt;/html&gt;</code>
    </section>

    <!-- Adicione espaços para anúncios -->
    <section class="ad-space">
        <p></p>
    </section>

    <section class="ad-space">
        <p></p>
    </section>

    <!-- Continue adicionando espaços para mais anúncios -->
    
    <section>
       <button type="button" class="btn">Download</button>
    </section>

    <footer>
        <p>Espero que este tutorial tenha sido útil. Para mais detalhes, continue explorando nosso site!</p>
    </footer>

</body>
</html>

               